.cabe{
    padding-left: 30px;
    font-size: 15px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.cabeca{
    margin-left: 5%;    
}
body{
    background-image: url("img/fundo_01.jpg");
}

.carousel-iten {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 3;
    right: 3;
    padding-bottom: 58px;
}

.corFundo {
    margin-bottom: 15px;
}

#noticias {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';

}


#noticias .grid-a {
    grid-area: A;


    text-align: left;
}

#noticias .grid-b {
    grid-area: B;
    
    text-align: end;
}

.grid-a h4 {
    margin-left: 5%;
    background-color: green;
    width: 100%;
    text-align: center;
}

.imgA{
    margin-left: 5%;
    height: auto;
    width: 100%;
    text-align: left;
}

.imgB {
    margin-top: 14%;
    margin-left: 30%;
    padding-bottom: 10px;
    height: auto;
    width: 150%;
}
